<br /><br /><form action = "login" method ="post" >
    <table> 
        <tr>
            <td>Email</th>
            <td><input type="text" name = "email" title="Your email" maxlength="50" /></td>
        </tr>
        <tr>
            <td>Password</th>
            <td><input type="password" name = "password" title="Your password" maxlength="30"/></td>
        </tr>
        <tr>
            <td>&nbsp</th>
            <td align = "right"><input type="submit" value="Login"/></td>
        </tr>

    </table>
</form>
<br /><br />
<br />
<br />