<div id="top-menu" onmouseover="">
	<a ><img id="mab-icon" style="cursor:pointer;"border="0" alt="icon" src="../views/images/mab-icon.gif"  onmouseover="IconClick(1)" style="" height="20" width="18" /></a> Welcome <b>{{userName}}</b>
</div>
<div id="m"><ul id="menu1">
<li onmouseover="IconClick(2)"><a>Contacts</a></li>
<li onmouseover="IconClick(3)" ><a>profile</a></li>
<li onmouseover="IconClick(4)" ><a>Groups</a></li>
<li onmouseover="HideMenus()"><a>Sharing (TBA)</a></li>
<li onmouseover="HideMenus()"><a>PMs (TBA)</a></li>
<li onmouseover="HideMenus()"><a href="../user/logout">Logout</a></li>
		</ul>
		</div>


<ul id="menu2" >
<li><a href="../contacts/phonebook">Your Phonebook</a></li>
<li><a href="../contacts/addcontact">Add new contact</a></li>
</ul>

<ul id="menu3" >
<li><a href="../user/editaccount">Edit your details</a></li>
<li><a href="../user/viewbc?id={{uid}}">Your Business card</a></li>
</ul>


<ul id="menu4" >
<li><a href="../contactgroup/viewgroups">View groups</a></li>
<li><a href="../contactgroup/addgroup">Add new group</a></li>
</ul>