
	
	<div id="cphoto" ><img  src="{{photo}}" alt="Contact photo" width="150" /></div>
	<fieldset style="width:400px;" name="Group1">
	<legend>{{firstName}}'s Details</legend>
	<br><br><br>
	<dl id="info">
	
	<dt>Name: </dt><dd>&nbsp {{firstName}} {{lastName}}</dd><br />
	<dt>Birthday: </dt><dd>&nbsp {{birthday}}</dd><br />
	<dt>country: </dt><dd>&nbsp {{country}}</dd><br />
	<dt>City: </dt><dd>&nbsp {{city}}</dd><br />
	<dt>Home address: </dt><dd>&nbsp {{homeAddress}}</dd><br />
	<dt>Work address: </dt><dd>&nbsp {{workAddress}}</dd><br />
	<dt>Home phone: </dt><dd>&nbsp {{homePhone}}</dd><br />
	<dt>Mobile phone: </dt><dd>&nbsp {{mobilePhone}}</dd><br />
	<dt>Work phone: </dt><dd>&nbsp {{workPhone}}</dd><br />
	<dt>Website: </dt><dd>&nbsp {{webSite}}</dd><br />
	<dt>MSN: </dt><dd>&nbsp {{msn}}</dd><br />
	<dt>Yahoo: </dt><dd>&nbsp {{yahoo}}</dd><br />
	<dt>AOL: </dt><dd>&nbsp {{aol}}</dd><br />
	<dt>GMail: </dt><dd>&nbsp {{gmail}}</dd><br />
	<dt>Facebook: </dt><dd>&nbsp {{facebook}}</dd><br />
	<dt>MySpace: </dt><dd>&nbsp {{myspace}}</dd><br />
	<dt>Company: </dt><dd>&nbsp {{company}}</dd><br />
	</dl>
	</fieldset>