						
<br />
<br />

</div>
		<div id="content-reflectb">
		</div>
		
		</div>
<script type="text/javascript">
	var isClicked1 = false;
	var isClicked2 = false;
	var isClicked3 = false;
	var isClicked4 = false;

	var wid = 0;
	function IconClick(menuNum)
	{
		if(menuNum==1)
		{
			
			if(isClicked1==false)
			{				
				Showmenu(menuNum);
				isClicked1 = true;
			}
			else if(isClicked1 == true)
			{
				HideMenu(menuNum);
				document.getElementById("menu2").style.visibility="hidden";
				document.getElementById("menu3").style.visibility="hidden";
				isClicked2=isClicked3 = isClicked1 = false;
			}
		}
		else if(menuNum == 2)
		{
			
			if(isClicked2==false)
			{
				Showmenu(menuNum);
				HideMenu(3);
				isClicked3 = false;
				HideMenu(4);
				isClicked4 = false;
				isClicked2 = true;
			}
			else if(isClicked2 == true)
			{
				HideMenu(menuNum);
				isClicked2 = false;
			}
				
		}
		else if(menuNum == 3)
		{

			if(isClicked3==false)
			{
				Showmenu(menuNum);
				HideMenu(2);
				HideMenu(4);
				isClicked2 = false;
				isClicked4 = false;
				isClicked3 = true;
			}
			else if(isClicked2 == true)
			{
				HideMenu(menuNum);
				isClicked3 = false;
			}
		}
		else if(menuNum == 4)
		{

			if(isClicked4==false)
			{
				Showmenu(menuNum);
				HideMenu(3);
				isClicked3 = false;
				HideMenu(2);
				isClicked2 = false;
				isClicked4 = true;
			}
			else if(isClicked3 == true)
			{
				HideMenu(menuNum);
				isClicked4 = false;
			}
				
		}
	}

	function Showmenu(menuNum)
	{
		document.getElementById("menu"+menuNum).style.visibility="visible";
		
	}
	function HideMenu(menuNum)
	{
		document.getElementById("menu"+menuNum).style.visibility="hidden";
		

	}
	
	function HideMenus(flag)
	{
		
		isClicked2=false;
		HideMenu(2);
		isClicked4=false;
		HideMenu(4);
		isClicked3=false;
		HideMenu(3);
		if(flag==1)
		{
			isClicked3=false;
		HideMenu(1);
		}		
	
	}
</script>
	</body>
  
</html>